@import '../less/color';
/*common*/
.fc-button {
    position: relative;
    padding: 8px 16px;
    min-width: 88px;
    min-height: 36px;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    user-select: none;
    .fc-button-text {
        display: inline-block;
        position: relative;
        z-index: 1;
        pointer-events: none;
        color: inherit;
        font-size: 14px;
    }
}
/*tap*/
.fc-button-tap {
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.fc-button-tap:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
/*border*/
.fc-button-border-style {
    border: 1px solid rgba(0, 0, 0, 0.23);
}
/*default*/
.fc-button-default-style {
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
    background-color:@white;
}
/*---theme---*/
/*blue*/
.fc-button-text-blue {
    color: @blue;
}
.fc-button-tap-text-blue:hover {
    background-color: rgba(187, 222, 251, 0.3);
}
.fc-button-border-blue {
    color: @blue;
}
.fc-button-tap-border-blue:hover {
    background-color: rgba(187, 222, 251, 0.3);
}
.fc-button-default-blue {
    color: @white;
    background-color: @blue;
}
.fc-button-tap-default-blue:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/*green*/
.fc-button-text-green {
    color: @green;
}
.fc-button-tap-text-green:hover {
    background-color: rgba(200, 230, 201, 0.3);
}
.fc-button-border-green {
    color: @green;
}
.fc-button-tap-border-green:hover {
    background-color: rgba(200, 230, 201, 0.3);
}
.fc-button-default-green {
    color: @white;
    background-color: @green;
}
.fc-button-tap-default-green:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/*red*/
.fc-button-text-red {
    color: @red;
}
.fc-button-tap-text-red:hover {
    background-color: rgba(255, 205, 210, 0.3);
}
.fc-button-border-red {
    color: @red;
}
.fc-button-tap-border-red:hover {
    background-color: rgba(255, 205, 210, 0.3);
}
.fc-button-default-red {
    color: @white;
    background-color: @red;
}
.fc-button-tap-default-red:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/*pink*/
.fc-button-text-pink {
    color: @pink;
}
.fc-button-tap-text-pink:hover {
    background-color: rgba(248, 187, 208, 0.3);
}
.fc-button-border-pink {
    color: @pink;
}
.fc-button-tap-border-pink:hover {
    background-color: rgba(248, 187, 208, 0.3);
}
.fc-button-default-pink {
    color: @white;
    background-color: @pink;
}
.fc-button-tap-default-pink:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/*purple*/
.fc-button-text-purple {
    color: @purple;
}
.fc-button-tap-text-purple:hover {
    background-color: rgba(250, 190, 231, 0.3);
}
.fc-button-border-purple {
    color: @purple;
}
.fc-button-tap-border-purple:hover {
    background-color: rgba(250, 190, 231, 0.3);
}
.fc-button-default-purple {
    color: @white;
    background-color: @purple;
}
.fc-button-tap-default-purple:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/*deepPurple*/
.fc-button-text-deepPurple {
    color: @deepPurple;
}
.fc-button-tap-text-deepPurple:hover {
    background-color: rgba(209, 196, 233, 0.3);
}
.fc-button-border-deepPurple {
    color: @deepPurple;
}
.fc-button-tap-border-deepPurple:hover {
    background-color: rgba(209, 196, 233, 0.3);
}
.fc-button-default-deepPurple {
    color: @white;
    background-color: @deepPurple;
}
.fc-button-tap-default-deepPurple:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/*indigo*/
.fc-button-text-indigo {
    color: @indigo;
}
.fc-button-tap-text-indigo:hover {
    background-color: rgba(197, 202, 233, 0.3);
}
.fc-button-border-indigo {
    color: @indigo;
}
.fc-button-tap-border-indigo:hover {
    background-color: rgba(197, 202, 233, 0.3);
}
.fc-button-default-indigo {
    color: @white;
    background-color: @indigo;
}
.fc-button-tap-default-indigo:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/*lightBlue*/
.fc-button-text-lightBlue {
    color: @lightBlue;
}
.fc-button-tap-text-lightBlue:hover {
    background-color: rgba(179, 229, 252, 0.3);
}
.fc-button-border-lightBlue {
    color: @lightBlue;
}
.fc-button-tap-border-lightBlue:hover {
    background-color: rgba(179, 229, 252, 0.3);
}
.fc-button-default-lightBlue {
    color: @white;
    background-color: @lightBlue;
}
.fc-button-tap-default-lightBlue:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/*cyan*/
.fc-button-text-cyan {
    color: @cyan;
}
.fc-button-tap-text-cyan:hover {
    background-color: rgba(178, 235, 242, 0.3);
}
.fc-button-border-cyan {
    color: @cyan;
}
.fc-button-tap-border-cyan:hover {
    background-color: rgba(178, 235, 242, 0.3);
}
.fc-button-default-cyan {
    color: @white;
    background-color: @cyan;
}
.fc-button-tap-default-cyan:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/*teal*/
.fc-button-text-teal {
    color: @teal;
}
.fc-button-tap-text-teal:hover {
    background-color: rgba(178, 223, 219, 0.3);
}
.fc-button-border-teal {
    color: @teal;
}
.fc-button-tap-border-teal:hover {
    background-color: rgba(178, 223, 219, 0.3);
}
.fc-button-default-teal {
    color: @white;
    background-color: @teal;
}
.fc-button-tap-default-teal:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/*lightGreen*/
.fc-button-text-lightGreen {
    color: @lightGreen;
}
.fc-button-tap-text-lightGreen:hover {
    background-color: rgba(220, 237, 200, 0.3);
}
.fc-button-border-lightGreen {
    color: @lightGreen;
}
.fc-button-tap-border-lightGreen:hover {
    background-color: rgba(220, 237, 200, 0.3);
}
.fc-button-default-lightGreen {
    color: @white;
    background-color: @lightGreen;
}
.fc-button-tap-default-lightGreen:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/*lime*/
.fc-button-text-lime {
    color: @lime;
}
.fc-button-tap-text-lime:hover {
    background-color: rgba(240, 244, 195, 0.3);
}
.fc-button-border-lime {
    color: @lime;
}
.fc-button-tap-border-lime:hover {
    background-color: rgba(240, 244, 195, 0.3);
}
.fc-button-default-lime {
    color: @white;
    background-color: @lime;
}
.fc-button-tap-default-lime:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/*yellow*/
.fc-button-text-yellow {
    color: @yellow;
}
.fc-button-tap-text-yellow:hover {
    background-color: rgba(255, 249, 196, 0.3);
}
.fc-button-border-yellow {
    color: @yellow;
}
.fc-button-tap-border-yellow:hover {
    background-color: rgba(255, 249, 196, 0.3);
}
.fc-button-default-yellow {
    color: @black;
    background-color: @yellow;
}
.fc-button-tap-default-yellow:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/*amber*/
.fc-button-text-amber {
    color: @amber;
}
.fc-button-tap-text-amber:hover {
    background-color: rgba(255, 236, 179, 0.3);
}
.fc-button-border-amber {
    color: @amber;
}
.fc-button-tap-border-amber:hover {
    background-color: rgba(255, 236, 179, 0.3);
}
.fc-button-default-amber {
    color: @white;
    background-color: @amber;
}
.fc-button-tap-default-amber:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/*orange*/
.fc-button-text-orange {
    color: @orange;
}
.fc-button-tap-text-orange:hover {
    background-color: rgba(255, 224, 178, 0.3);
}
.fc-button-border-orange {
    color: @orange;
}
.fc-button-tap-border-orange:hover {
    background-color: rgba(255, 224, 178, 0.3);
}
.fc-button-default-orange {
    color: @white;
    background-color: @orange;
}
.fc-button-tap-default-orange:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/*deepOrange*/
.fc-button-text-deepOrange {
    color: @deepOrange;
}
.fc-button-tap-text-deepOrange:hover {
    background-color: rgba(255, 204, 188, 0.3);
}
.fc-button-border-deepOrange {
    color: @deepOrange;
}
.fc-button-tap-border-deepOrange:hover {
    background-color: rgba(255, 204, 188, 0.3);
}
.fc-button-default-deepOrange {
    color: @white;
    background-color: @deepOrange;
}
.fc-button-tap-default-deepOrange:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/*brown*/
.fc-button-text-brown {
    color: @brown;
}
.fc-button-tap-text-brown:hover {
    background-color: rgba(215, 204, 200, 0.3);
}
.fc-button-border-brown {
    color: @brown;
}
.fc-button-tap-border-brown:hover {
    background-color: rgba(215, 204, 200, 0.3);
}
.fc-button-default-brown {
    color: @white;
    background-color: @brown;
}
.fc-button-tap-default-brown:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/*grey*/
.fc-button-text-grey {
    color: @grey;
}
.fc-button-tap-text-grey:hover {
    background-color: rgba(245, 245, 245, 0.3);
}
.fc-button-border-grey {
    color: @grey;
}
.fc-button-tap-border-grey:hover {
    background-color: rgba(245, 245, 245, 0.3);
}
.fc-button-default-grey {
    color: @white;
    background-color: @grey;
}
.fc-button-tap-default-grey:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/*blueGrey*/
.fc-button-text-blueGrey {
    color: @blueGrey;
}
.fc-button-tap-text-blueGrey:hover {
    background-color: rgba(207, 216, 220, 0.3);
}
.fc-button-border-blueGrey {
    color: @blueGrey;
}
.fc-button-tap-border-blueGrey:hover {
    background-color: rgba(207, 216, 220, 0.3);
}
.fc-button-default-blueGrey {
    color: @white;
    background-color: @blueGrey;
}
.fc-button-tap-default-blueGrey:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/*disabled*/
.fc-button-disabled {
    color: rgba(0, 0, 0, 0.26);
    background-color: rgba(0, 0, 0, 0.05);
}